<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if obj %}
            <form role="form" action="{%  url 'vent:deuda_edit' obj %}" method="post"  class="form-inline">
        {% else %}
            <form role="form" action="{% url 'vent:deuda_new' %}" method="post"  class="form-inline">
        {% endif %}
            <div class="col-xl-12 col-md-12 mb-12">
                {% if obj %}
                    <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                    <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            {% if obj %} Editar {% else %} Nueva {% endif %} deuda
                        </div>
                        <div class="dropdown-divider"></div>
                        {% csrf_token %}
                            {% if obj %} 
                                <div class="row">

                                    <div class="col-lg-3">Estado</div>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control text-right" 
                                        value={{status}} readonly
                                        name="status" id="status" required>
                                    </div>
                                </div><br>    
                            {% endif %} 
                        <div class="row">

                            <div class="col-lg-3">Ingrese CI</div>
                            <div class="col-lg-8">
                                <input type="number" class="form-control text-right" 
                                
                                {% if obj %} value={{docId}} readonly {% else %} value="" {% endif %} 
                                name="docId" id="docId" required>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-lg-3">Descripción</div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control text-right" 
                                {% if obj %} value={{label}} {% else %} value="" {% endif %}  
                                name="label" id="label" required>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-lg-3">Monto en GS</div>
                            <div class="col-lg-8">
                                <input type="number" class="form-control text-right" 
                                {% if obj %} value={{value}} {% else %} value="" {% endif %}  
                                name="value" id="value" required>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-lg-3">Fecha de inicio</div>
                            <div class="col-lg-8">
                                <input type="date" class="form-control text-right" value={{fecha_actual}} 
                                name="start" id="start" required>
                                <input type="time" class="form-control text-right" value="00:00"  
                                name="start-time" id="start-time">
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-lg-3">Fecha de fin</div>
                            <div class="col-lg-8">
                                <input type="date" class="form-control text-right" value={{fecha_actual}}
                                name="end" id="end" required>
                                <input type="time" class="form-control text-right" value="00:00" 
                                name="end-time" id="end-time">
                            </div>
                        </div>  
                        {% if obj %} 
                            <div class="row">
                                <div class="col-lg-3">Fecha de fin</div>
                                <div class="col-lg-3">
                                    <img src={{payUrl}} alt="payUrl">
                                </div>
                            </div>  
                        
                        {% endif %}  
                        
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
                                <button type="button" class="btn btn-success" onclick="return cerrar_modal()">
                                        Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="far fa-calendar-plus fa-2x text-gray-300"></i>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    var obj = document.getElementById("docId").value;
    //var obj = {{ docId | safe }};
    console.log(obj)
    //HOST = "http://127.0.0.1:8000";
    HOST = "http://138.197.203.157:33333";
    
    var url = HOST +"/vent/pendings/?idCode="+obj;
    console.log(url)
    /// se debe consultar cada 5s a la funcion para saber si hay cambios
    /// tener una lista en donde se hace push cuando esta pendings y cuando esta paid se quita de la lista
    /// 
    
    const bol = true;
    const consult_pendigs = (URL) => {
        fetch(URL)
        .then(res => res.json())
        .then(data => {
           console.log(data.message)
           if (data.message == "not"){
               console.log("cambiar estado");
               document.getElementById("status").innerHTML = "paid";
                bol = false;
            }

        });
        if (bol == true){
            setTimeout(consult_pendigs, 500)
        }
    }
    consult_pendigs(url)

    
</script>