<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if obj %}
            <form role="form" action="{%  url 'vent:deuda_edit' obj %}" method="post"  class="form-inline">
        {% else %}
            <form role="form" action="{% url 'vent:deuda_new' %}" method="post"  class="form-inline">
        {% endif %}
            <div class="col-xl-12 col-md-12 mb-12">
                {% if obj %}
                    <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                    <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            {% if obj %} Editar {% else %} Nueva {% endif %} deuda
                        </div>
                        <div class="dropdown-divider"></div>
                        {% csrf_token %}
                        <div class="row">

                            <div class="col-lg-3">Ingrese CI</div>
                            <div class="col-lg-8">
                                <input type="number" class="form-control text-right" 
                                
                                {% if obj %} value={{docId}} readonly {% else %} value="" {% endif %} 
                                name="docId" id="docId" required>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-lg-3">Descripción</div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control text-right" 
                                {% if obj %} value={{label}} {% else %} value="" {% endif %}  
                                name="label" id="label" required>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-lg-3">Monto en GS</div>
                            <div class="col-lg-8">
                                <input type="number" class="form-control text-right" 
                                {% if obj %} value={{value}} {% else %} value="" {% endif %}  
                                name="value" id="value" required>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-lg-3">Fecha de inicio</div>
                            <div class="col-lg-8">
                                <input type="date" class="form-control text-right" value={{fecha_actual}} 
                                name="start" id="start" required>
                                <input type="time" class="form-control text-right" value="00:00"  
                                name="start-time" id="start-time">
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-lg-3">Fecha de fin</div>
                            <div class="col-lg-8">
                                <input type="date" class="form-control text-right" value={{fecha_actual}}
                                name="end" id="end" required>
                                <input type="time" class="form-control text-right" value="00:00" 
                                name="end-time" id="end-time">
                            </div>
                        </div>  
                        {% if obj %} 
                            <div class="row">
                                <div class="col-lg-3">Fecha de fin</div>
                                <div class="col-lg-3">
                                    <img src={{payUrl}} alt="payUrl">
                                </div>
                            </div>  
                        
                        {% endif %}  
                        
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
                                <button type="button" class="btn btn-success" onclick="return cerrar_modal()">
                                        Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="far fa-calendar-plus fa-2x text-gray-300"></i>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>
