{% extends 'base/base.html' %}

{% block page_content %}
<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Listado de deudas</h6>
    <div class="dropdown no-arrow">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
      </a>
    </div>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    {% if not obj %}
    <div class="alert alert-info">No hay deudas</div>
    <div class="buttons-toolbar">
        <a class="btn btn-primary" onclick="return abrir_modal('{% url 'vent:deuda_new' %}')" href="#"><i class="far fa-calendar-plus"></i> Nueva deuda</a>
    </div>

    {% endif %}
    <div class="buttons-toolbar">
        <a class="btn btn-primary" onclick="return abrir_modal('{% url 'vent:deuda_new' %}')" href="#"><i class="far fa-calendar-plus"></i> Nueva deuda</a>
    </div>

    <table
        id="table"
        data-toggle="table"
        data-pagination="true"
        data-search="true"
        data-show-refresh="true"
        data-show-export="true"
        data-show-columns="true"
        data-show-toggle="true"
        data-show-fullscreen="true"
        data-toolbar=".buttons-toolbar"
        data-locale="es-NI"
        data-page-list="[10, 25, 50, 100, all]"
        data-detail-formatter="detailFormatter"
        data-minimum-count-columns="2"
        data-show-pagination-switch="true"
        data-id-field="id"
      >
      <thead>
          <th data-field="id" data-sortable="true" >docId</th>
          <th data-field="nombres" data-sortable="true" >label</th>
          <th data-field="nombres" data-sortable="true" >status</th>
          <th data-field="apellidos" data-sortable="true" >Date start</th>
          <th data-field="apellidos" data-sortable="true" >Date end</th>

          <th>Acciones</th>
      </thead>
      <tbody>
        {% for item in obj.debts %}
        <tr>
          <th>{{ item.docId }}</th>
          <th>{{ item.label }}</th>
          <th>{{ item.payStatus.status }}</th>
          <th>{{ item.validPeriod.start }}</th>
          <th>{{ item.validPeriod.end }}</th>
          
          <th>
            <button class="btn btn-warning btn-circle" onclick="return abrir_modal('{% url 'vent:deuda_edit' item.docId %}')"><i class="far fa-edit"></i></button>
            <button class="btn btn-danger btn-circle" onclick="return abrir_modal('{% url 'vent:deuda_delete' item.docId %}')"><i class="fas fa-trash-alt"></i></button>
          </th>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block js_page %}
<script>
        $("#sidebarToggle").click();
        
        $("#datosTable").bootstrapTable({
            pagination: true,
            showFooter: true,
            search: true,
            showExport:true,
            filter: true,
            method: 'post',
            showRefresh:true,
            pageList:[10, 25, 50, 100, 'All'],
            showPaginationSwitch: true
        });
        


</script>

{% endblock %}